[Unit]
Description=Refresh Golias secrets from IBM Secrets Manager
Before=goliasv27-dash.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/golias/load_secrets_from_sm.sh

[Install]
WantedBy=multi-user.target
